{% extends "base.html" %}
{% load static %}

{% block top_bar_left %}
    <div class="search-area">
        <form method="get" action="" style="display:inline;">
            <input type="text" placeholder="Поиск" class="search" name="q" value="{{ query|default:'' }}" />
            <input type="date" name="date-from" id="date-from" value="{{ date_from|default:'' }}" title="Фильтровать рецепты, опубликованные начиная с этой даты" />
            <input type="date" name="date-to" id="date-to" value="{{ date_to|default:'' }}" title="Фильтровать рецепты, опубликованные до этой даты включительно"/>
            <select name="rating-filter" id="rating-filter" title="Показываются рецепты с рейтингом не ниже выбранного">
                <option value="0" {% if rating == '0' or not rating %}selected{% endif %}>Любой</option>
                <option value="1" {% if rating == '1' %}selected{% endif %}>1+</option>
                <option value="2" {% if rating == '2' %}selected{% endif %}>2+</option>
                <option value="3" {% if rating == '3' %}selected{% endif %}>3+</option>
                <option value="4" {% if rating == '4' %}selected{% endif %}>4+</option>
                <option value="5" {% if rating == '5' %}selected{% endif %}>5</option>
            </select>
            <button type="submit">Найти</button>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div class="grid">
        {% for bread in breads %}
            <a href="{% url 'bread:bread_detail' forloop.counter %}" class="card-link">
                <div class="card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="{% static bread.Image %}" alt="{{ bread.Title }}" />
                            <p>{{ bread.Title }}</p>
                            <p>{{ bread.Rate }}/5⭐</p>
                        </div>
                        <div class="card-back">
                            <p>{{ bread.Composition|truncatewords:20 }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
