{% extends "user_profile/base_profile.html" %}
{% load static %}
{% block show %}
    <div class="profile-container">
        <div class="profile-left">
            <img src="{% static "img/avatar-placeholder.png" %}"
                 alt="Аватар"
                 class="avatar"
                 id="profile-avatar" />
            <div class="nickname-box">{{ user.username }}</div>
            <p class="profile-dates">
                Дата создания профиля
                <br>
                {{ user.date_joined }}
                <br>
                Дата последнего редактирования профиля
                <br>
                {{ user.update_at }}
            </p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button id='logout-btn' class = 'btn' type="submit">Выйти</button>
            </form>
        </div>
        <div class="profile-right">
            <div class="info-box">
                <label>Имя</label>
                <div>{{ user.first_name }}</div>
                <label>Фамилия</label>
                <div>{{ user.last_name }}</div>
                <label>Email</label>
                <div>{{ user.email }}</div>
                <div class="password-field hidden">
                    <label for="new-password">Пароль</label>
                    <input type="password"
                           id="new-password"
                           class="editable-field"
                           placeholder="Введите новый пароль" />
                </div>
            </div>
            <div class="profile-buttons">
                <a class="btn"
                   id="edit-profile-btn"
                   href='{% url "user_profile:edit_profile" %}'>Редактировать профиль</a>
                <button class="btn wide-btn">Личные отзывы</button>
            </div>
        </div>
    </div>
{% endblock %}
