{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Хлебный сайт</title>
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    </head>
    <body>
        <header class="top-bar">
            <div class="top-bar-left">
                {% block top_bar_left %}{% endblock %}
            </div>
            <div class="top-bar-right">
                {% block top_bar_right %}
                    <a href="{% url 'user_profile:show_profile' %}" class="profile-btn">Профиль</a>
                {% endblock %}
            </div>
        </header>
        
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <script src="{% static "js/scripts.js" %}"></script>
    </body>
</html>
